* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Main container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Join meeting card */
.join-box {

    background: white;
    width: 400px;
    padding: 40px;

    border-radius: 15px;

    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);

}


/* Heading */

.join-box h1 {

    text-align: center;
    color: #333;

    margin-bottom: 10px;

}


.join-box p {

    text-align: center;
    color: #777;

    margin-bottom: 25px;

}



/* Labels */

label {

    display: block;

    margin-top: 15px;

    margin-bottom: 8px;

    color: #333;

    font-weight: bold;

}



/* Input boxes */

input {

    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    outline: none;

    font-size: 15px;

}


input:focus {

    border-color: #667eea;

}



/* Button */

button {

    width: 100%;

    margin-top: 25px;

    padding: 13px;

    background: #667eea;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;

}


button:hover {

    background: #5563c1;

}



/* Back button */

.back-btn {

    display: block;

    text-align: center;

    margin-top: 20px;

    text-decoration: none;

    color: #667eea;

    font-size: 15px;

}


.back-btn:hover {

    text-decoration: underline;

}